{
  "branch": "master",
  "GIT_AUTHOR_NAME": "Adam J. Jolicoeur",
  "GIT_AUTHOR_EMAIL": "mindreeper2420@gmail.com",
  "GIT_COMMITTER_NAME": "mindreeper2420",
  "GIT_COMMITTER_EMAIL": "mindreeper2420@gmail.com"
}
